<p>Welcome to the homepage</p>

<form method="post" action="/signup">
  <input
    placeholder="Username"
    type="text"
    name="username"
  />

  <input
    placeholder="password"
    type="password"
    name="password"
  />

  <button class="btn btn-primary" type="submit">Submit</button>
</form>